Package: enigma2-plugin-extensions-settingshub
Version: 0.0.0
Section: extensions
Priority: optional
Architecture: all
Maintainer: ftp21 <https://github.com/ftp21>
Source: https://github.com/ftp21/SettingsHub
Description: Gestore multi setting-man per liste canali
 Installa e aggiorna canali/bouquet da diversi setting man, un provider
 attivo alla volta.
